<%- include('./parts/header.ejs') %>
<%- include('./parts/navbar.ejs') %> 


    <div class="container " style="margin-top: 60px;width:900px">
       

        <form action="/add" method="post">
          <div class="row">
            <div class="col">
              <input type="text" name="post"  class="form-control">
            </div>
            <div class="col">
              <input type="submit" value="ToDo" class="btn btn-primary">
            </div>
          </div>
          <div class="container" style="margin-top: 40px;width:900px">
            <% for(let post of posts){  %>      
            <ul class="list-group">
                <li class="list-group-item"><%= post.post %>     <a    href="/delete/<%= post._id %>" class="btn btn-danger">Delete</a>   </li>
               
              </ul>

              <% } %>       
        </div>
        </form>
        
    </div>
    



<%- include('./parts/footer.ejs') %>